Options -Indexes

RewriteEngine On
RewriteBase /SistemaEncomiendas/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([-a-zA-Z0-9]+)/?$ index.php?ruta=$1 [QSA,L]

# Manejar rutas para la API
RewriteCond %{REQUEST_URI} ^/Proyecto-web-Encomiendas/api/
RewriteRule ^api/(.*)$ api/index.php?url=$1 [QSA,L]
